/*put text over image*/
#wrapper {
    position: relative;

}
#wrapper div, #wrapper video {
    position: absolute;

    
}
/*#video-text1{
	color: white;
	margin-top: 150px;
	margin-left: 10px;
}*/

/*#video-text2{
	color: white;
	margin-top: 150px;
	margin-left: 280px;
}

#video-text3{
	color: white;
	margin-top: 120px;
	margin-left: 650px;
}*/